body{
	background-color: #030505;
	margin: 0px;
}
svg{
	margin-left: 100px;
}
.subunit{
	fill: #f3f3e3;
	stroke: #fffbf1;
}
.subunit.ESP,
.subunit.FRA,
.subunit.DEU,
.subunit.CHN,
.subunit.JPN,
.subunit.CHL,
.subunit.USA,
.subunit.THA,
.subunit.BRA{
	fill: #DC143C;
}
.subunit.primero{
	fill: #f2c1ac;
}
.subunit.segundo{
	fill: #f3a1a0;
}
.subunit.tercero{
	fill: #ac9597;
}
.subunit.cuarto{
	fill: #694489;
}
.subunit.america{
	fill: #FF8C00;
}
.subunit.asia{
	fill: #FFD700;
}
.subunit.europa{
	fill: #FF0000;
}
.subunit-boundary{
	fill: none;
	stroke: #958e4a;
}
.subunit.ESI { 
	fill: #ddc; 
}
.subunit.ESX { 
	fill: #cdd; 
}
.subunit.SEC { 
	fill: #cdc; 
}
.subunit.SEM { 
	fill: #dcd; 
}
.subunit.ESC { 
	display: none; 
}
.place-label{
	font-size : 11px;
}
.province.colored {
	fill: #FF4500;
}
.province.else {
	fill: #FFFACD;
}
.place{
	fill: #6495ED;
}
.provinces-boundary {
  fill: none;
  stroke: #FFD700;
  stroke-dasharray: 2,2;
  stroke-linejoin: round;
}
#year{
  font-size: 40px;
  fill: #C0C0C0;
}
#segundo{
	height: 700px;
}

#footer{
	position:relative;
	top: 70%;
	left: 80%;
	width: 20%;
}
p{
	color: #fffbf1;
	font-family: Verdana;
	font-size: 12px;
}
.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
	background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
	background-color:#f9f9f9;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
	margin-top: 40px;
	margin-left: 100px;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9));
	background:-moz-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-o-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-ms-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9',GradientType=0);
	background-color:#e9e9e9;
}