		#title {
			margin-left: auto;
			margin-right: auto;
		    width: 50%;
		}
		#div_title{
			border-bottom-style: solid;
    		border-bottom-width: 3px;
    		border-bottom-color: #FF6600;
		}
		#div_img{
			padding-top: 20px;
		}