.axis path,
.axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}
.graph{
	padding-top:100px;
}
.leyenda{
	
}
.axis text {
	font-family: sans-serif;
	font-size: 11px;
}
.xlabel{
	font-family: sans-serif;
	font-size: 11px;
}
.ylabel{
	font-family: sans-serif;
	font-size: 11px;
}