body{
	background-color: #030505;
	margin: 0px;
}
.subunit-boundary {
  fill: none;
  stroke: #777;
  stroke-dasharray: 2,2;
  stroke-linejoin: round;
}
.subunit-boundary.IRL {
  stroke: #aaa;
}
.subunit.SCT { 
	fill: #958e4a; 
}
.subunit.WLS { 
	fill: #7a6248; 
}
.subunit.NIR { 
	fill: #f3a1a0; 
}
.subunit.ENG { 
	fill: #ac9597; 
}
.subunit.IRL { 
	display: none; 
}
.subunit-boundary {
	fill: none;
	stroke: #777;
	stroke-dasharray: 2,2;
	stroke-linejoin: round;
}
.subunit-boundary.IRL {
	stroke: #aaa;
}
.subunit-label {
	fill: #e7eedb;
	fill-opacity: .5;
	font-size: 20px;
	font-weight: 300;
	text-anchor: middle;
}
.place-label{
	font-size : 11px;
	fill: #fffbf1;
}
#footer{
	position:relative;
	top: 70%;
	left: 80%;
	width: 20%;
}
p{
	color: #fffbf1;
	font-family: Verdana;
	font-size: 12px;
}