body{
	background-color: #030505;
	margin: 0px;
}
.subunit.ESI { 
	fill: #f0ddaa; 
}
.subunit.ESX { 
	fill: #f0ddaa; 
}
.subunit.SEC { 
	fill: #f0ddaa; 
}
.subunit.SEM { 
	fill: #f0ddaa; 
}
.subunit.ESC { 
	display: #f0ddaa; 
}
.place-label{
	font-size : 11px;
	fill: white;
}
.province.colored {
	fill: #e42d40;
}
.province.else {
	fill: #f0ddaa;
}
.place{
	fill: #142b3b;
}
.provinces-boundary {
  fill: none;
  stroke: #e47c5d;
}
.subunit-boundary {
  stroke: #fffbf1;
}
#segundo{
	height: 725px;
}

#footer{
	position:relative;
	top: 70%;
	left: 80%;
	width: 20%;
}
p{
	color: #fffbf1;
	font-family: Verdana;
	font-size: 12px;
}