.subunit.ESI { 
	fill: #ddc; 
}
.subunit.ESX { 
	fill: #cdd; 
}
.subunit.SEC { 
	fill: #cdc; 
}
.subunit.SEM { 
	fill: #dcd; 
}
.subunit.ESC { 
	display: none; 
}
.place-label{
	font-size : 11px;
}
.province.colored {
	fill: #FF4500;
}
.province.else {
	fill: #FFFACD;
}
.place{
	fill: #6495ED;
}
.provinces-boundary {
  fill: none;
  stroke: #FFD700;
  stroke-dasharray: 2,2;
  stroke-linejoin: round;
}
.subunit-boundary {
  stroke: #FF4500;
}