body{
	background-color: #030505;
	margin: 0px;
}
.subunit.ESI { 
	fill: #ac9597; 
}
.subunit.ESX { 
	fill: #ac9597; 
}
.subunit.SEC { 
	fill: #ac9597; 
}
.subunit.SEM { 
	fill: #ac9597; 
}
.subunit.ESC { 
	display: #ac9597; 
}
.place-label{
	font-size : 11px;
	fill: #fffbf1;
}
.province.colored {
	fill: #958e4a;
}
.province.else {
	fill: #ac9597;
}
.place{
	fill: #030505;
}
.provinces-boundary {
  fill: none;
  stroke: #e7eedb;
  stroke-dasharray: 2,2;
  stroke-linejoin: round;
}
.subunit-boundary {
  stroke: #fffbf1;
}
#segundo{
	height: 725px;
}

#footer{
	position:relative;
	top: 70%;
	left: 80%;
	width: 20%;
}
p{
	color: #fffbf1;
	font-family: Verdana;
	font-size: 12px;
}