<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header"> How is employment discrimination evolving in Europe?
			<br></br>
			<small> Stadistics by {{education}}</small>
		</h1>
	</div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div my-map class="panel panel-default big-panel">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Let's see how the difference of employees by gender is evolving:</h3>
            </div>
            <div class="panel-body">
				<h1 class="year-title">{{actual}}</h1>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->

<div class="row">
	
	<div class="col-lg-6">
		<div class="row">
			<div class="col-lg-12">
				<div my-bubble-chart-sex  sex="Males" class="panel panel-default">
					<div class="panel-heading agrupado">
						<h3 class="panel-title transitioning-title"><i class="fa fa-clock-o fa-fw"></i> Is GDP impacting in men's wages? </h3>
					</div>
					<div class="panel-body panel-body"> 
						<h1 class="year-title-black">{{actual}}</h1>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-lg-12">
				<div my-bubble-chart-sex  sex="Females" class="panel panel-default">
					<div class="panel-heading agrupado">
						<h3 class="panel-title transitioning-title"><i class="fa fa-clock-o fa-fw"></i> Is GDP impacting in women's wages?</h3>
					</div>
					<div class="panel-body"> 
						<h1 class="year-title-black">{{actual}}</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
        
	<div class="col-lg-6">
        <div my-bubble-chart-compare class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title transitioning-title"><i class="fa fa-clock-o fa-fw"></i> Is Expenditure in education assuring equality in wages? </h3>
            </div>
            <div class="panel-body"> 
				<h1 class="year-title-black-big">{{actual}}</h1>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->

<div class="row">
	<div class="col-lg-6">
        <div my-bubble-chart-reference class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title transitioning-title"><i class="fa fa-long-arrow-right fa-fw"></i>Wages and employment comparison by gender in {{pais}} </h3>
            </div>
            <div class="panel-body">
				<h1 class="year-title-black-big">{{actual}}</h1>
            </div>
        </div>
    </div>

	<div class="col-lg-6">
	
		<div class="row">
			<div class="col-lg-12">
				<div my-area-chart class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title"><i class="fa fa-long-arrow-right fa-fw"></i>Is Expenditure in education evolving alike GDP in {{pais}}?</h3>
					</div>
					<div class="panel-body">
					</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-lg-12">
				<div my-line-bar-chart class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title"><i class="fa fa-long-arrow-right fa-fw"></i> Is Expenditure in education impacting in employment in {{pais}}?</h3>
					</div>
					<div class="panel-body">
					</div>
				</div>
			</div>
		</div>
    </div>
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-4">
        <div my-chart class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-long-arrow-right fa-fw"></i> How many employees by gender do we have in {{pais}}?</h3>
            </div>
            <div class="panel-body">
            </div>
        </div>
    </div>
	<div class="col-lg-4">
        <div my-stacked-bar class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> Employment comparison by gender in {{pais}}:</h3>
            </div>
            <div class="panel-body"> 
            </div>
        </div>
    </div>
	<div class="col-lg-4">
        <div my-pie-chart class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> How is employment distributed by gender in {{pais}}?</h3>
            </div>
            <div class="panel-body"> 
            </div>
        </div>
    </div>
</div>
<!-- /.row -->