/*HTML*/
body{
	background-color: #2D353C;
}

#page-wrapper{
	background-color: #D9E0E7;
}

.big-panel{
	background-color: #2D353C!important;
}

.myButton {
	width:3%;
	height:20px;
	border:0px;
	cursor:pointer;
	background-image: url(../img/button-play.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center; 
	background-color: transparent;
}

.options{
	background-color: #2D353C;
	font-size: 10px;
}


.mySelect {
	background-color: #2D353C;
	width: 100%;
	font-size: 10px;
}

.navbar-brand{
	color: #AFAFAF!important;
}
.big-panel .panel-heading .panel-title{
	width:95%;
	float:left;
	padding:5px;
	font-size:16px;
}
.panel-title{
	font-size: 10px;
}
.transitioning-title{
	width:95%;
	float:left;
	padding:2%;
}
.panel{
	border-radius: 8px;
}

#green{
	background-color: #00ACAC!important;
	border-width: 0px;
}

#blue{
	background-color: #348FE2!important;
	border-width: 0px;
}

#purple{
	background-color: #727CB6!important;
	border-width: 0px;
}

#black{
	background-color: #2D353C!important;
	border-width: 0px;
}

.year-title{
	color: white;
	padding-left: 50px;
	margin:0px;
	height: 10%;
	text-align: center;
}
.year-title-black{
	margin:0px;
	font-size: 1rem;
	text-align: center;
}
.year-title-black-big{
	margin:0px;
	font-size: 2rem;
	text-align: center;
}

.agrupado{
	padding-top:0%;
	padding-bottom:0%;
}

.panel-primary{
	border-width: 0px;
}
.panel-green{
	border-width: 0px;
}
.panel-yellow{
	border-width: 0px;
}
.panel-red{
	border-width: 0px;
}
.panel-primary a .panel-footer{
	background-color: #00ACAC!important;
	color: #ffffff;
}
.panel-green a .panel-footer{
	background-color: #348FE2!important;
	color: #ffffff;
}
.panel-yellow a .panel-footer{
	background-color: #727CB6!important;
	color: #ffffff;
}
.panel-red a .panel-footer{
	background-color: #2D353C!important;
	color: #ffffff;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
    background-color: #00ACAC!important;
}
.panel-heading{
	background-color: #242A30!important;
	color: #ffffff!important;
	border-width: 0px; 
}

/*NAVBAR*/

.collapse a{
	cursor:pointer;
}
.navbar{
	border-width:0px;
}

.navbar-collapse{
	background-color: #FFFFFF;
}
.title-option{
	width: 100%;
	height: 50px;
	color: #FFFFF1;
	background-color: #1A2229;
	text-align: center;
	
}
.title-option p{
	padding: 15px;
}

.side-nav{
	background-color: #2D353C;
}

/*SVG*/

svg{
	display:block;
	margin: auto;
}

/*AXIS*/

.axis path,
.axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}
.axis text {
	font-family: sans-serif;
	font-size: 11px;
}
.xlabel{
	font-family: sans-serif;
	font-size: 11px;
}
.ylabel{
	font-family: sans-serif;
	font-size: 11px;
}

/*LEYENDA*/

.leyenda{
	margin-top: 10px;
}

.leyenda text{
	fill: #ffffff;
}	

.leyenda_bars{
	float: left;
} 

/*MAP*/

.subunit{
	fill: #f0ddaa;
	stroke: #333333;
	cursor:pointer;
}
.subunit.primero{
	fill: #F2F2F2;
}
.subunit.segundo{
	fill: #F2F2F2;
}
.subunit.tercero{
	fill: #F2F2F2;
}
.subunit.cuarto{
	fill: #F2F2F2;
}
.subunit-boundary{
	fill: none;
	stroke: #333333;
}

#europe_svg{
	background-color: #2D353C;
}

/*LINEBAR*/

.rect.Males{
	fill: #3F7F93;
}
.rect.Females{
	fill: #DA6068;
}

/*STACKEDBARCHART*/

.bar.Males{
	fill: #3F7F93;
	stroke-width: 1px;
	stroke: white;
}
.bar.Females{
	fill: #DA6068;
	stroke-width: 1px;
	stroke: white;
}

/*BUBBLES*/

.cercle.Males{
	fill: #3F7F93;
}
.cercle.Females{
	fill: #DA6068;
}

.axis-males{
	stroke: #3F7F93;
}

.axis-females{
	stroke: #DA6068;
}

/*AREACHART*/

.area-path-expenditure{
	fill: #3F7F93;
}

.area-path-pib{
	fill: #DA6068;
}

/*TOOLTIP*/

.tooltip{ 
	background-color: rgba(255,255,255,1.0);
	padding: 1px;
	border: 1px solid rgba(0,0,0,.2);
	
	font-family: Arial;
	font-size: 13px;
	text-align: left;
	
	opacity:1;
}
.tooltip p{
	margin: 0;
	padding: 5px 14px;
	text-align: center;
}

.tooltip h3{
	margin: 0;
	padding: 4px 14px;
	line-height: 18px;
	font-weight: normal;
	background-color: rgba(247,247,247,0.75);
	text-align: center;

	border-bottom: 1px solid #ebebeb;

	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}








	
